/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}




/* //////////////////////////
	VARIABELEN 
////////////////////////// */
:root {
	--color-text: #111;
	--color-background: #eee;
	--ip-middernacht: #31353A;
	--ip-sterrenlicht: #EFECE7;
	--ip-rood: #E11D29;
	--ip-blauw: #acbed2;
	--ip-paars: #E6D7E9;
	--ip-geel: #F5E488;

	--ip-middernacht-donker: #481e6e;
	--ip-sterrenlicht-donker: #a49282;
	--ip-rood-donker: #e1441d;
	--ip-blauw-donker: #207bdb;
	--ip-paars-donker: #c055d6;
	--ip-geel-donker: #fab432;

	--h3-kleur: var(--ip-geel);
	--h3-kleur-donker: var(--ip-geel-donker);

	--h2-kleur: black;
	--footer-h3: #1d1d1f;
	--footer-p: #424245;
}




/* //////////////////////////
	KOPTEKSTEN 
////////////////////////// */

@font-face {
	font-family: 'Regular';
	src: url('../assets/fonts/SF-Pro-Text-Light.otf');
}

@font-face {
	font-family: 'Display';
	src: url('../assets/fonts/SF-Pro-Display-Medium.otf');
}

p {
	font-family: 'Regular';
	font-size: 12px;
}

h1 {
	font-family: 'Display';
	font-size: 19px;
}

h2 {
	font-family: 'Display';
	font-size: 32px;
	color: var(--h2-kleur)
}

h3 {
	font-family: 'Display';
	font-size: 17px;
	color: #86868b;
	text-align: center;
}

li {
	font-family: 'Regular';
	font-size: 12px;
}

/* //////////////////////////
	NAVIGATIE 
////////////////////////// */


header>nav:nth-of-type(1) ul {
	justify-content: space-between;
}

header>nav:nth-of-type(2) {
	justify-content: space-between;
}

header nav:nth-of-type(2),
header nav:nth-of-type(2) section:nth-of-type(2) {
	display: flex;
}

nav ul,
nav:nth-of-type(2) {
	display: flex;
	padding: 16px;
}

nav:nth-of-type(2) section:nth-of-type(2) {
	gap: 1em;
}

nav:nth-of-type(2) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

nav:nth-of-type(2) h1 {
	color: var(--h3-kleur-donker)
}

nav section:first-of-type {
	justify-content: flex-start;
}

nav ul li:nth-of-type(2),
nav ul li:nth-of-type(3),
nav ul li:nth-of-type(4),
nav ul li:nth-of-type(5),
nav ul li:nth-of-type(6),
nav ul li:nth-of-type(7),
nav ul li:nth-of-type(8),
nav ul li:nth-of-type(9),
nav ul li:nth-of-type(10),
nav ul li:nth-of-type(11) {
	margin-top: 0.3em;
}

img {
	scale: 100%;
	align-self: center;
}

nav ul li:last-of-type img {
	transform: rotate(90deg);
}

header {
	position: sticky;
	top: -3em;
	z-index: 2;
	backdrop-filter: blur(1em);
}

.home header {
	top: 0em;
}

/* //////////////////////////
	NAVIGATIE - HOME AANPASSINGEN
////////////////////////// */

.home header nav {
	background-color: black;
}

.home header nav li a {
	color: #e3e3e3;
}

.home header nav ul img {
	filter: brightness(0) invert(1);
}


main>div:first-of-type {
	background-color: #f5f5f7;
	padding: 12px;
	text-align: center;
	padding-left: 5em;
	padding-right: 5em;
}


main>div:first-of-type a {
	color: #0071e3;
}



/* //////////////////////////
	VOL VERWONDERING 
////////////////////////// */

main>section:nth-of-type(1) h2 {
	text-align: center;
	padding-top: 2em;
	font-size: 35px;
	font-weight: lighter;
}

main>section p {
	text-align: center;
	font-family: 'Display';
	font-size: 17px;
}

main section:nth-of-type(1) article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url("../images/achtergronden/14_lineup.png");
	background-size: 400%;
	background-repeat: no-repeat;
	background-position: 30% -20%;
	transition: background-position 1s ease-in-out;
}



/* //////////////////////////
	KIES EEN KLEUR 
////////////////////////// */

main section:nth-of-type(1) nav {
	display: flex;
	gap: 0.75em;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 2em;
}

main section:nth-of-type(1) nav div {
	position: sticky;
	top: -3em;
	z-index: 3;
}

main>section:nth-of-type(1) p {
	margin-top: 110%;
}

main section:nth-of-type(1) nav button {
	border-radius: 50%;
}

main section:nth-of-type(1) nav button:nth-of-type(1) {
	border: 1em solid var(--ip-middernacht);
}

main section:nth-of-type(1) nav button:nth-of-type(2) {
	border: 1em solid var(--ip-sterrenlicht);
}

main section:nth-of-type(1) nav button:nth-of-type(3) {
	border: 1em solid var(--ip-rood);
}

main section:nth-of-type(1) nav button:nth-of-type(4) {
	border: 1em solid var(--ip-blauw);
}

main section:nth-of-type(1) nav button:nth-of-type(5) {
	border: 1em solid var(--ip-paars);
}

main section:nth-of-type(1) nav button:nth-of-type(6) {
	border: 1em solid var(--ip-geel);
}

main>section:nth-of-type(2) {
	box-shadow: 0 -6em 3em -4em rgba(0, 0, 0, 0.1);
}

main section:nth-of-type(1) nav button:nth-of-type(1):hover {
	animation-name: button-shadow-zwart;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes button-shadow-zwart {
	50% {
		box-shadow: 0em 0em 1em var(--ip-middernacht-donker)
	}
}

main section:nth-of-type(1) nav button:nth-of-type(2):hover {
	animation-name: button-shadow-sterrenlicht;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes button-shadow-sterrenlicht {
	50% {
		box-shadow: 0em 0em 1em var(--ip-sterrenlicht-donker)
	}
}

main section:nth-of-type(1) nav button:nth-of-type(3):hover {
	animation-name: button-shadow-rood;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes button-shadow-rood {
	50% {
		box-shadow: 0em 0em 1em var(--ip-rood-donker)
	}
}

main section:nth-of-type(1) nav button:nth-of-type(4):hover {
	animation-name: button-shadow-blauw;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes button-shadow-blauw {
	50% {
		box-shadow: 0em 0em 1em var(--ip-blauw-donker);
	}
}

main section:nth-of-type(1) nav button:nth-of-type(5):hover {
	animation-name: button-shadow-paars;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes button-shadow-paars {
	50% {
		box-shadow: 0em 0em 1em var(--ip-paars-donker)
	}
}

main section:nth-of-type(1) nav button:nth-of-type(6):hover {
	animation-name: button-shadow-geel;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes button-shadow-geel {
	50% {
		box-shadow: 0em 0em 1em var(--ip-geel-donker)
	}
}

/* //////////////////////////
	KOOP IPHONE 
////////////////////////// */
main>section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main>section:nth-of-type(2) p {
	color: var(--h2-kleur)
}

section:nth-of-type(2) h2 {
	text-align: center;
	padding-top: 2em;
	font-size: 21px;
	font-weight: lighter;
	margin-bottom: 0.5em;
}

/* //////////////////////////
	GRID 
////////////////////////// */

main section:nth-of-type(3),
main section:nth-of-type(4),
main section:nth-of-type(5) {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: dense;
	padding: 2em;
	max-width: 1100px;
	margin: auto;
}

section:nth-of-type(3) article {
	background-color: #f5f5f7;
	padding: 2em;
	border-radius: 1.5em;
}

section:nth-of-type(3) article:hover,
section:nth-of-type(4) article:hover,
section:nth-of-type(5) article:hover {
	scale: 0.975;
	transition: scale 0.2s ease-in-out;
}

section:nth-of-type(3) article,
section:nth-of-type(4) article,
section:nth-of-type(5) article {
	transition: scale 0.2s ease-in-out;
}



/* //////////////////////////
	CONTAINER - GROOT EN GROTER
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(1) p:nth-last-of-type(1) {
	font-size: 30px;
}

section:nth-of-type(3) article:nth-of-type(1) li p:nth-of-type(1) {
	color: #86868b;
}

section:nth-of-type(3) article:nth-of-type(1) section {
	display: flex;
	justify-content: center;
	gap: 1em;
}

section:nth-of-type(3) article img {
	width: 100%;
	height: auto;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}


li {
	list-style: none;
}

section:nth-of-type(3) article:nth-of-type(1) sub {
	vertical-align: super;
	font-size: xx-small
}

/* //////////////////////////
	CONTAINER 2 - BATTERIJ
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(2) {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 7em;
	padding-bottom: 7em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section:nth-of-type(3) article:nth-of-type(2) p:nth-last-of-type(1) {
	font-size: 32px;
	background-image: radial-gradient(#333336 5%, #81be2c 30%, #81be2c 10%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

section:nth-of-type(3) article:nth-of-type(2) sub {
	vertical-align: super;
	font-size: large;
	font-weight: bolder;
}

/* //////////////////////////
	CONTAINER 3 - CERAMIC SHIELD
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(3) p:nth-last-of-type(1) {
	font-size: 32px;
}

section:nth-of-type(3) article:nth-of-type(3) img {
	padding: 0px;
	margin-top: -2em;
}

section:nth-of-type(3) article:nth-of-type(3) h3 {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

section:nth-of-type(3) article:nth-of-type(3) p:hover {
	color: var(--h3-kleur-donker);
	transition: color 0.5s ease-in-out;
}

section:nth-of-type(3) article:nth-of-type(3) p {
	color: black;
	transition: color 0.5s ease-in-out;
}



/* //////////////////////////
	CONTAINER 4 - WATER BESTENDIG
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(4) {
	background-image: url("../images/achtergronden/water.png");
	background-size: 200%;
}

section:nth-of-type(3) article:nth-of-type(4) h3 {
	font-size: 32px;
	background-image: radial-gradient(var(--h3-kleur) 5%, var(--h3-kleur-donker) 30%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 4em;
}

section:nth-of-type(3) article:nth-of-type(4) p {
	font-size: 24px;
	margin-top: 4em;
	margin-bottom: 2.5em;
}

section:nth-of-type(3) article:nth-of-type(4) {
	animation-name: waterbestendig;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes waterbestendig {

	0%,
	100% {
		background-size: 200%;
		background-position: 0% 200%;
	}

	50% {
		background-position: 0% -200%;
		background-size: 190%;
	}
}


/* //////////////////////////
	CONTAINER 5 - ACTION MODE
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(5) h3 {
	margin-top: 1.5em;
}

section:nth-of-type(3) article:nth-of-type(5) p {
	font-size: 27px;
	margin-top: 0.2em;
	margin-bottom: 1em;
}

section:nth-of-type(3) article:nth-of-type(5) img {
	scale: auto;
}

section:nth-of-type(3) article:nth-of-type(5) img:hover {
	animation: shake 2s ease infinite;
	animation-direction: alternate;
	animation-iteration-count: initial;
}

section:nth-of-type(3) article:nth-of-type(5) p:hover {
	animation: shake 2s ease infinite;
	animation-direction: alternate;
	animation-iteration-count: initial;
}


@keyframes shake {

	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}


/* //////////////////////////
	CONTAINER 6 - CAMERA
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(6) {
	background-image: url("../images/Geel/camera.png");
	background-size: 120%;
	background-repeat: no-repeat;
}

section:nth-of-type(3) article:nth-of-type(6) h3 {
	font-size: 32px;
	color: white;
	margin-top: 10em;
	margin-bottom: 1em;
}

/* //////////////////////////
	CONTAINER 7 - CHIP
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(7) {
	background-image: url("../images/Geel/chip.png");
	background-size: 150%;
	background-repeat: no-repeat;
}

section:nth-of-type(3) article:nth-of-type(7) h3 {
	font-size: 24px;
	color: white;
	margin-top: 10em;
	margin-bottom: 1em;
}

/* //////////////////////////
	CONTAINER 8 - SOS
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(8) {
	background-image: url("../images/achtergronden/sos.jpg");
	background-size: 250%;
	background-repeat: no-repeat;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 10em;
	padding-bottom: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section:nth-of-type(3) article:nth-of-type(8) h3 {
	font-size: 32px;
	color: white;
}

/* //////////////////////////
	CONTAINER 9 - ONGELUK
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(9) {
	background-repeat: no-repeat;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 7.5em;
	padding-bottom: 7.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section:nth-of-type(3) article:nth-of-type(9) img:hover {
	animation-name: ongeluk;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}

@keyframes ongeluk {
	30% {
		transform: scale(0.8);
	}

	40%,
	60% {
		transform: rotate(-20deg) scale(0.8);
	}

	50% {
		transform: rotate(20deg) scale(0.8);
	}

	70% {
		transform: rotate(0deg) scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}

section:nth-of-type(3) article:nth-of-type(9) img {
	scale: 130%;
}

/* //////////////////////////
	CONTAINER 10 - CONNECTIES
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(10) {
	background-repeat: no-repeat;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 5em;
	padding-bottom: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section:nth-of-type(3) article:nth-of-type(10) h3 {
	font-size: 32px;
	background-image: radial-gradient(var(--h3-kleur) -25%, var(--h3-kleur-donker) 30%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

section:nth-of-type(3) article:nth-of-type(10) img:hover {
	animation-name: vijfg;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	transform-origin: top center;
}

@keyframes vijfg {
	20% {
		transform: rotate(15deg);
	}

	40% {
		transform: rotate(-10deg);
	}

	60% {
		transform: rotate(5deg);
	}

	80% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

/* //////////////////////////
	CONTAINER 11 - SELFIES
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(11) {
	background-image: url("../images/Geel/truedepth.jpg");
	background-size: 250%;
	background-repeat: no-repeat;
	background-position: 50%;
}

section:nth-of-type(3) article:nth-of-type(11) h3 {
	font-size: 32px;
	color: white;
	margin-top: 100%;
	margin-bottom: 1em;
	text-shadow: 0.1em 0.11em 1em black;
}

/* //////////////////////////
	CONTAINER 12 - PERSONALISEREN
////////////////////////// */

section:nth-of-type(3) article:nth-of-type(12) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

section:nth-of-type(3) article:nth-of-type(12) h3 {
	margin-top: 1.5em;
	font-size: 17px;
}

section:nth-of-type(3) article:nth-of-type(12) p {
	font-size: 24px;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

section:nth-of-type(3) article:nth-of-type(12) img {
	padding-bottom: unset;
	margin-bottom: -2.3em;

}





/* //////////////////////////
	BESPAAR OP IPHONE 
////////////////////////// */

section:nth-of-type(4) article {
	background-color: #f5f5f7;
	border-radius: 1.5em;
	background-image: url("../images/achtergronden/trade_in.png");
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	grid-row: span 1;
	grid-column: span 4;
}

main>section:nth-of-type(4) article h3 {
	margin-top: 1.5em;
	font-size: 24px;
	color: black;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	font-weight: lighter;
}

main>section:nth-of-type(4)>h2 {
	margin-bottom: 0.75em;
}

main>section:nth-of-type(5)>h2 {
	margin-bottom: 0.75em;
	grid-column: span 1;
}


section:nth-of-type(4) article p {
	font-size: 17px;
	margin-top: 0.5em;
	margin-bottom: 15em;
	color: #0071e3;
}

section:nth-of-type(4) article img {
	width: 100%;
	height: auto;
	margin-bottom: 2%;
	scale: 125%;
}

strong {
	background-image: radial-gradient(var(--h3-kleur) -75%, var(--h3-kleur-donker) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}





/* //////////////////////////
	IPHONE MAAKT HET VERSCHIL 
////////////////////////// */

section:nth-of-type(5) article {
	background-color: #f5f5f7;
	border-radius: 1.5em;
	display: flex;
	flex-direction: column;
	padding-top: 3em;
}

main section:nth-of-type(5) h3 {
	font-size: 28px;
	color: black;
	font-weight: lighter;
}

main section:nth-of-type(5) a p {
	font-size: 17px;
	color: #0071e3;
	font-weight: 500;
	font-family: 'Regular';
	padding: 1em;
	padding-left: 10%;
	padding-right: 10%;
}

main section:nth-of-type(5) article img:first-of-type {
	height: auto;
	width: 10%;
	margin-bottom: 1em;
}

main section:nth-of-type(5) article:first-of-type img:nth-of-type(2) {
	height: auto;
	width: 75%;
	margin-bottom: 2em;
	padding: 1em;
}

main section:nth-of-type(5) article:first-of-type img:nth-of-type(2):hover {

	animation: wereldbol;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes wereldbol {

	50% {
		transform: rotate(0.5turn);
		scale: 0.8;
	}

	100% {
		transform: rotate(1turn);
		scale: 1;
	}
}

main section:nth-of-type(5) article:nth-of-type(2) img:nth-of-type(2) {
	height: auto;
	width: 100%;
	margin-top: 3.2em;
	border-radius: 1.5em;
}

main section:nth-of-type(5) article:nth-of-type(3) img:nth-of-type(2) {
	height: auto;
	width: 90%;
	margin-top: 2em;
	border-radius: 1.5em;
}




/* //////////////////////////
	FOOTER 
////////////////////////// */

footer {
	background-color: #f5f5f7;
	margin-top: 1em;
}

footer>section {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-flow: dense;
	padding: 2em;
	max-width: 1100px;
	margin: auto;
}

footer h3 {
	color: var(--footer-h3);
	font-size: 12px;
	text-align: left;
}

footer p {
	color: var(--footer-p);
	font-size: 12px;
	text-align: left;
	margin: 0.7em 0em;
}

footer img {
	display: none;
}



/* //////////////////////////
	LINKS EN BUTTONS 
////////////////////////// */

a:link {
	text-decoration: none;
}

main a:hover {
	text-decoration: underline #0071e3;
}

footer a:hover {
	text-decoration: underline #424245;
}

a:focus {
	outline-color: blue;
	outline-width: 1em;
}

button:focus {
	outline-color: blue;
}

header a:visited {
	color: black;
}


/* KOOP KLEIN */

nav:nth-of-type(2) a button {
	color: white;
	background-color: #0071e3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 1em;
	border-color: rgba(0, 0, 0, 0);
	border-width: 1px;
	border-style: solid;
	font-family: 'Regular';
	font-size: 12px;
	transition: background-color 0.15s ease-in-out;
	transition: padding 0.15s ease-in-out;
}

nav:nth-of-type(2) a button:hover {
	background-color: var(--h3-kleur-donker);
	padding: 3px 7em;
	transition: background-color 0.3s ease-in-out;
	transition: padding 0.3s ease-in-out;
}


/* KOOP GROOT */

main>section:nth-of-type(2) a button {
	color: white;
	background-color: #0071e3;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 1em;
	border-radius: 1em;
	border-color: rgba(0, 0, 0, 0);
	border-width: 1px;
	border-style: solid;
	font-family: 'Regular';
	font-size: 17px;
	margin-bottom: 2em;
	transition: background-color 0.15s ease-in-out;
	transition: padding 0.15s ease-in-out;
}

main>section:nth-of-type(2) a button:hover {
	background-color: var(--h3-kleur-donker);
	padding: 7px 7em;
	transition: background-color 0.3s ease-in-out;
	transition: padding 0.3s ease-in-out;
}






/* //////////////////////////
	HOME - BASIS SETTINGS EN GRID 
////////////////////////// */

.home>main {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	grid-auto-flow: dense;
}

.home>main article h2 {
	text-align: center;
	font-size: 60px;
	margin-top: 0.75em;
}

.home>main article:nth-of-type(6) h2,
.home>main article:nth-of-type(7) h2,
.home>main article:nth-of-type(8)>h2 {
	text-align: center;
	font-size: 40px;
	margin-top: 1em;
}

.home>main article p {
	text-align: center;
	font-size: 24px;
}


.home>main article:nth-of-type(1) {
	background-color: black;
}

.home>main article:nth-of-type(1)>p,
.home>main article:nth-of-type(1)>h2,
.home>main article:nth-of-type(3)>p,
.home>main article:nth-of-type(3)>h2,
.home>main article:nth-of-type(6)>p,
.home>main article:nth-of-type(6)>h2 {
	color: #e3e3e3;
}

.home>main div {
	display: flex;
	justify-content: center;
	gap: 3em;
}

.home>main div a p {
	font-size: 19px;
	margin-top: 1em;
	color: #0071e3;
}

span {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	top: 0.15em;
	transform: rotate(45deg);
	vertical-align: middle;
	width: 0.45em;
}

/* //////////////////////////
	CONTAINER 1 - IPHONE 15 PRO
////////////////////////// */

.home>main article:nth-of-type(1) {
	background-image: url("../images/home/15pro.jpg");
	background-size: 175em;
	background-position: 50% 0%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	grid-column-start: 1;
	grid-column-end: -1;
	transition: background-size 1s ease-in-out;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.home>main article {
	transition: transform 0.5s ease-in-out;
}

/* //////////////////////////
	CONTAINER 2 - IPHONE 14
////////////////////////// */

.home>main article:nth-of-type(2) {
	background-image: url("../images/home/14.jpg");
	background-size: 250em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	grid-column-start: 1;
	grid-column-end: -1;

	animation-name: iphone-zoom;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	transform-origin: top center;
}


@keyframes iphone-zoom {
	0% {
		background-size: 250em;
	}

	100% {
		background-size: 175em;
	}
}

/* //////////////////////////
	CONTAINER 3 - WATCH SERIES 9
////////////////////////// */

.home>main article:nth-of-type(3) {
	background-image: url("../images/home/watch9.jpg");
	background-size: 175em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	grid-column-start: 1;
	grid-column-end: -1;
}

.home>main article:nth-of-type(3) img,
.home>main article:nth-of-type(4) img,
.home>main article:nth-of-type(5) img,
.home>main article:nth-of-type(9) img {
	scale: 50%;
	margin-top: 1em;
}

.home>main article:nth-of-type(3):hover {
	transform: skew(10deg, 10deg);
	transition: transform 1s ease-in-out;
	transition-delay: 2s;
}

/* //////////////////////////
	CONTAINER 4 - APPLE WATCH ULTRA
////////////////////////// */

.home>main article:nth-of-type(4) {
	background-image: url("../images/home/ultra.jpg");
	background-size: 90em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
}

.home>main article:nth-of-type(4):hover {
	transform: rotate(180deg);
	transition: transform 1s ease-in-out;
	transition-delay: 2s;
}


/* //////////////////////////
	CONTAINER 5 - CARBON NEUTRAL
////////////////////////// */

.home>main article:nth-of-type(5) {
	background-image: url("../images/home/carbon.jpg");
	background-size: 75em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	background-color: #FBFBFD;
}

/* //////////////////////////
	CONTAINER 6 - AIRPODS PRO
////////////////////////// */

.home>main article:nth-of-type(6) {
	background-image: url("../images/home/airpods.jpg");
	background-size: 75em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	background-color: black;
}

/* //////////////////////////
	CONTAINER 7 - STUDENTENKORTING
////////////////////////// */

.home>main article:nth-of-type(7) {
	background-image: url("../images/home/studie.jpg");
	background-size: 75em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	background-color: #F2F2F4;
}

.home>main article:nth-of-type(7):hover {
	transform: scale(1.3);
	transition: transform 1s ease-in-out;
	transition-delay: 2s;
}

/* //////////////////////////
	CONTAINER 8 - MACBOOK AIR
////////////////////////// */

.home>main article:nth-of-type(8) {
	background-image: url("../images/home/macbook.jpg");
	background-size: 75em;
	background-position: 50% 75%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	background-color: #FBFBFD;
}

/* //////////////////////////
	CONTAINER 9 - TRADE IN
////////////////////////// */

.home>main article:nth-of-type(9) {
	background-image: url("../images/home/trade_2.jpg");
	background-size: 75em;
	background-position: 50% 75%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	background-color: #FBFBFD;

}





/* //////////////////////////
	SCHERM QUERIES
////////////////////////// */

/* MIN WIDTH */

@media screen and (min-width: 600px) {
	section:nth-of-type(3) article:nth-of-type(1) {
		grid-row: span 2;
		grid-column: span 2;
	}

	section:nth-of-type(3) article:nth-of-type(5) {
		grid-row: span 1;
		grid-column: span 2;
	}

	section:nth-of-type(3) article:nth-of-type(6) {
		grid-row: span 1;
		grid-column: span 2;
	}

	main>section:nth-of-type(1) article {
		background-size: 150%;
		background-repeat: no-repeat;
		background-position: 30% 0%;
	}

	nav ul,
	nav:nth-of-type(2) {
		padding-right: 10%;
		padding-left: 10%;
	}

	section:nth-of-type(3) article:nth-of-type(8) {
		grid-row: span 1;
		grid-column: span 2;
	}

	main>section:nth-of-type(1) p {
		margin-top: 35%;
	}

	main>div:first-of-type p {
		font-size: 16px;
	}

	main>section:nth-of-type(1) h2 {
		text-align: left;
		margin-left: 10%;
		padding-top: 0.5em;
		font-size: 50px;
	}

	main>section:nth-of-type(5)>h2 {
		grid-column: span 2;
	}

	main section:nth-of-type(3),
	main section:nth-of-type(4) {
		padding: 3em;
	}
}

@media screen and (min-width: 800px) {

	main>section:nth-of-type(1) h2 {
		text-align: left;
		margin-left: 10%;
		padding-top: 0.5em;
		font-size: 75px;
	}

	main>section:nth-of-type(4)>h2,
	main>section:nth-of-type(5)>h2,
	section:nth-of-type(5)>h2 {
		grid-column: span 3;
		font-size: 56px;
	}

	section:nth-of-type(4) article {
		background-size: 100%;
	}

}

@media screen and (min-width: 1200px) {

	nav ul li:last-of-type {
		display: none;
	}

}


/* MAX WIDTH */

@media screen and (max-width: 600px) {

	.home header {
		position: relative;
	}

}

@media screen and (max-width: 800px) {

	.home>main article:nth-of-type(1) {
		background-size: 100em;
		background-position: 50% 30%;
	}

	.home>main article p {
		font-size: 19px;
	}

	.home>main article h2 {
		font-size: 30px;
	}

	.home>main article h2 {
		margin-top: 2em;
	}

	.home>main {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}

	footer p {
		display: none;
	}

	footer>section {
		display: flex;
		flex-direction: column;
		padding: 2em;
		max-width: 1100px;
		margin: auto;
	}

	footer>section section {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(0, 0, 0, 0.16);
		padding: 0.3em 0em;
	}

	footer img {
		display: unset;
	}
}

@media screen and (max-width: 1200px) {

	nav ul li:nth-of-type(2),
	nav ul li:nth-of-type(3),
	nav ul li:nth-of-type(4),
	nav ul li:nth-of-type(5),
	nav ul li:nth-of-type(6),
	nav ul li:nth-of-type(7),
	nav ul li:nth-of-type(8),
	nav ul li:nth-of-type(9),
	nav ul li:nth-of-type(10),
	nav ul li:nth-of-type(11) {
		display: none;
	}

	nav ul li:nth-of-type(12),
	nav ul li:nth-of-type(13),
	nav ul li:nth-of-type(14) {
		justify-content: flex-end;
		margin: 0em 1em;
	}


	nav ul li:nth-of-type(12) {
		margin-left: auto;
	}
}




/* //////////////////////////
	TOEGANKELIJKHEID QURIES
////////////////////////// */

/* VERMINDER BEWEGING */

@media (prefers-reduced-motion) {
	section:nth-of-type(3) article:nth-of-type(10) img:hover {
		animation-duration: 7s;
	}

	section:nth-of-type(3) article:nth-of-type(9) img:hover,
	section:nth-of-type(3) article:nth-of-type(4),
	section:nth-of-type(3) article:nth-of-type(5) p:hover,
	section:nth-of-type(3) article:nth-of-type(5) img:hover,
	main section:nth-of-type(5) article:first-of-type img:nth-of-type(2):hover {
		animation-play-state: paused;
	}

	main section:nth-of-type(1) article,
	.home>main article:nth-of-type(1) {
		transition: none;
	}

	.home>main article:nth-of-type(2):hover,
	.home>main article:nth-of-type(3):hover,
	.home>main article:nth-of-type(4):hover,
	.home>main article:nth-of-type(7):hover {
		transition: none;
		transform: unset;
	}


	.home>main article:nth-of-type(2) {
		animation-play-state: paused;
		background-size: 175em;
	}

	section:nth-of-type(3) article:hover,
	section:nth-of-type(4) article:hover,
	section:nth-of-type(5) article:hover {
		scale: 1;
		transition: none;
	}

	.home main article:hover {
		scale: 1;
		transition: none;
	}
}



/* VERMINDER DOORZICHTIGHEID */

@media (prefers-reduced-transparency) {
	header {
		background-color: white;
	}
}



/* DARK MODE */

@media (prefers-color-scheme:dark) {

	:root {
		--h2-kleur: white;
		--footer-h3: rgb(227, 227, 227);
		--footer-p: rgb(227, 227, 227);
	}

	footer {
		background-color: rgb(35, 35, 35);
	}

	footer a:hover {
		text-decoration: underline rgb(227, 227, 227);
	}

	body {
		background-color: black;
	}

	header nav li a {
		color: #e3e3e3;
	}

	header a:visited {
		color: #e3e3e3;
	}

	header nav ul li img,
	header nav section img {
		filter: brightness(0) invert(1);
	}

	nav:nth-of-type(2) a p {
		color: white;
		background-color: #0071e3;
	}

	main>div:first-of-type {
		background-color: rgb(35, 35, 35);
	}

	main>div:first-of-type p {
		color: white;
	}

	.home>main article:nth-of-type(7)>h2,
	.home>main article:nth-of-type(8)>h2,
	.home>main article:nth-of-type(2)>h2 {
		color: black;
	}
}