/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
	--ip-middernacht: #31353A;
	--ip-sterrenlicht: #EFECE7;
	--ip-rood: #E11D29;
	--ip-blauw: #acbed2;
	--ip-paars: #E6D7E9;
	--ip-geel: #F5E488;

	--ip-middernacht-donker: #481e6e;
	--ip-sterrenlicht-donker: #a49282;
	--ip-rood-donker: #e1441d;
	--ip-blauw-donker: #207bdb;
	--ip-paars-donker: #c055d6;
	--ip-geel-donker: #fab432;

	--h3-kleur: var(--ip-geel);
	--h3-kleur-donker: var(--ip-geel-donker);
}





/****************/
/* JOUW STYLING */
/****************/


@font-face {
	font-family: 'Regular';
	src: url('../assets/fonts/SF-Pro-Text-Light.otf');
}

@font-face {
	font-family: 'Display';
	src: url('../assets/fonts/SF-Pro-Display-Medium.otf');
}

/* KOPTEKSTEN */

p {
	font-family: 'Regular';
	font-size: 12px;
}

h1 {
	font-family: 'Display';
	font-size: 19px;
}

h2 {
	font-family: 'Display';
	font-size: 32px;
}

h3 {
	font-family: 'Display';
	font-size: 17px;
	color: #86868b;
	text-align: center;
}

/* NAV */

/* header {
	position: relative;
} */

header>nav:nth-of-type(1) section {
	justify-content: space-between;
}

header>nav:nth-of-type(2) {
	justify-content: space-between;
}

header nav:nth-of-type(2) {
	display: flex;
}

nav section {
	display: flex;
	padding: 16px;
}

nav section:first-of-type p {
	margin-top: 0.3em;
}

nav:nth-of-type(1) section:nth-of-type(2) {
	gap: 1em;
}

nav:nth-of-type(1) section:nth-of-type(3) {
	gap: 2em;
}

nav:nth-of-type(2) section:nth-of-type(2) {
	gap: 2em;
}

nav:nth-of-type(2) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

nav:nth-of-type(2) h1 {
	color: var(--h3-kleur-donker)
}

nav section:first-of-type {
	justify-content: flex-start;
}

nav section:nth-of-type(2),
nav section:nth-of-type(3) {
	justify-content: flex-end;
	/* margin-left: 2em; */
}

img {
	scale: 100%;
	align-self: center;
}

nav section img:nth-of-type(4) {
	transform: rotate(90deg);
}

header {
	position: sticky;
	top: -3em;
	z-index: 2;
	backdrop-filter: blur(1em);
}

.home header {
	top: 0em;
}

/* NAV INDEX  */

.home header nav {
	background-color: black;
}

.home header nav p {
	color: #e3e3e3;
}

.home header nav section img {
	filter: brightness(0) invert(1);
}




nav:nth-of-type(2) a p {
	color: white;
	background-color: #0071e3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 1em;
	border-color: rgba(0, 0, 0, 0);
	border-width: 1px;
	border-style: solid;
	font-family: 'Regular';
	font-size: 12px;
}

main>div:first-of-type {
	background-color: #f5f5f7;
	padding: 12px;
	text-align: center;
	padding-left: 5em;
	padding-right: 5em;
}

@media screen and (max-width: 1200px) {

	nav section:first-of-type p {
		display: none;
	}

	nav section:first-of-type img:nth-of-type(2),
	nav section:first-of-type img:nth-of-type(3),
	nav section:first-of-type img:nth-of-type(4) {
		justify-content: flex-end;
		margin: 0em 1em;
	}
	

	nav section:first-of-type img:nth-of-type(2) {
		margin-left: auto;
	}
}

main>div:first-of-type a {
	color: #0071e3;
}

/* BLOK 1 VOL VERWONDERING */

main>section:nth-of-type(1) h2 {
	text-align: center;
	padding-top: 2em;
	font-size: 35px;
	font-weight: lighter;
}

main>section p {
	text-align: center;
	font-family: 'Display';
	font-size: 17px;
}

main section:nth-of-type(1) article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url("../images/achtergronden/14_lineup.png");
	background-size: 400%;
	background-repeat: no-repeat;
	background-position: 30% -20%;
	/* margin-top: 25em; */
	transition: background-position 1s ease-in-out;
	

}



/* KLEURKEUZE */

main section:nth-of-type(1) nav {
	display: flex;
	gap: 0.75em;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 2em;
}

main section:nth-of-type(1) nav div {
	position: sticky;
	top: -3em;
	z-index: 3;
}

main>section:nth-of-type(1) p {
	margin-top: 110%;
}

main section:nth-of-type(1) nav button {
	border-radius: 50%;
}

main section:nth-of-type(1) nav button:nth-of-type(1) {
	border: 1em solid var(--ip-middernacht);
}

main section:nth-of-type(1) nav button:nth-of-type(2) {
	border: 1em solid var(--ip-sterrenlicht);
}

main section:nth-of-type(1) nav button:nth-of-type(3) {
	border: 1em solid var(--ip-rood);
}

main section:nth-of-type(1) nav button:nth-of-type(4) {
	border: 1em solid var(--ip-blauw);
}

main section:nth-of-type(1) nav button:nth-of-type(5) {
	border: 1em solid var(--ip-paars);
}

main section:nth-of-type(1) nav button:nth-of-type(6) {
	border: 1em solid var(--ip-geel);
	/* outline: 3px solid #0071e3; */
}

main>section:nth-of-type(2) {
	/* background-color: red; */
	box-shadow: 0 -6em 3em -4em rgba(0, 0, 0, 0.1);
}

main section:nth-of-type(1) nav button:nth-of-type(1):hover {
	animation-name: button-shadow-zwart;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	}
	
	@keyframes button-shadow-zwart {
		50% {
			box-shadow: 0em 0em 1em var(--ip-middernacht-donker)
		}
	}

	main section:nth-of-type(1) nav button:nth-of-type(2):hover {
	animation-name: button-shadow-sterrenlicht;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	}
	
	@keyframes button-shadow-sterrenlicht {
		50% {
			box-shadow: 0em 0em 1em var(--ip-sterrenlicht-donker)
		}
	}

	main section:nth-of-type(1) nav button:nth-of-type(3):hover {
	animation-name: button-shadow-rood;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	}
	
	@keyframes button-shadow-rood {
		50% {
			box-shadow: 0em 0em 1em var(--ip-rood-donker)
		}
	}

	main section:nth-of-type(1) nav button:nth-of-type(4):hover {
	animation-name: button-shadow-blauw;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	}
	
	@keyframes button-shadow-blauw {
		50% {
			box-shadow: 0em 0em 1em var(--ip-blauw-donker);
		}
	}

	main section:nth-of-type(1) nav button:nth-of-type(5):hover {
		animation-name: button-shadow-paars;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-direction: alternate;
		}
		
		@keyframes button-shadow-paars {
			50% {
				box-shadow: 0em 0em 1em var(--ip-paars-donker)
			}
		}
	
		main section:nth-of-type(1) nav button:nth-of-type(6):hover {
	animation-name: button-shadow-geel;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	}
	
	@keyframes button-shadow-geel {
		50% {
			box-shadow: 0em 0em 1em var(--ip-geel-donker)
		}
	}

/* KOOP IPHONE */

section:nth-of-type(2) h2 {
	text-align: center;
	padding-top: 2em;
	font-size: 21px;
	font-weight: lighter;
	margin-bottom: 0.5em;
}

main>section:nth-of-type(2) a p {
	color: white;
	background-color: #0071e3;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 1em;
	border-radius: 1em;
	border-color: rgba(0, 0, 0, 0);
	border-width: 1px;
	border-style: solid;
	font-family: 'Regular';
	font-size: 17px;
	margin-left: 40%;
	margin-right: 40%;
	margin-bottom: 3em;
}

/* GRID EN FEATURES*/

main section:nth-of-type(3),
main section:nth-of-type(4),
main section:nth-of-type(5) {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: dense;
	padding: 2em;
	max-width: 1100px;
	margin: auto;
}

section:nth-of-type(3) article {
	background-color: #f5f5f7;
	padding: 2em;
	border-radius: 1.5em;
}

/* GRID AANPASSINGEN*/


@media screen and (min-width: 600px) {
	section:nth-of-type(3) article:nth-of-type(1) {
		grid-row: span 2;
		grid-column: span 2;
	}

	section:nth-of-type(3) article:nth-of-type(5) {
		grid-row: span 1;
		grid-column: span 2;
	}

	section:nth-of-type(3) article:nth-of-type(6) {
		grid-row: span 1;
		grid-column: span 2;
	}

	main>section:nth-of-type(1) article {
		background-size: 150%;
		background-repeat: no-repeat;
		background-position: 30% 0%;
	}

	nav section {
		padding-right: 10%;
		padding-left: 10%;
	}

	section:nth-of-type(3) article:nth-of-type(8) {
		grid-row: span 1;
		grid-column: span 2;
	}

	main>section:nth-of-type(1) p {
		margin-top: 35%;
	}

	main>div:first-of-type p {
		font-size: 16px;
	}

	main>section:nth-of-type(1) h2 {
		text-align: left;
		margin-left: 10%;
		padding-top: 0.5em;
		font-size: 50px;
	}

}

@media screen and (min-width: 800px) {

	main>section:nth-of-type(1) h2 {
		text-align: left;
		margin-left: 10%;
		padding-top: 0.5em;
		font-size: 75px;
	}

	main>section:nth-of-type(4)>h2,
	section:nth-of-type(5)>h2 {
		grid-column: span 3;
	}

}

@media screen and (min-width: 500px) {

	main section:nth-of-type(3),
	main section:nth-of-type(4) {
		padding: 3em;
	}
}


/* CONTAINTER 1 GROOT EN GROTER*/

section:nth-of-type(3) article:nth-of-type(1) p:nth-last-of-type(1) {
	font-size: 30px;
}

section:nth-of-type(3) article:nth-of-type(1) li p:nth-of-type(1) {
	color: #86868b;
}

section:nth-of-type(3) article:nth-of-type(1) section {
	display: flex;
	justify-content: center;
	gap: 1em;
}

section:nth-of-type(3) article img {
	width: 100%;
	height: auto;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}


li {
	list-style: none;
}

section:nth-of-type(3) article:nth-of-type(1) sub {
	vertical-align: super;
	font-size: xx-small
}

/* CONTAINTER 2 BATTERIJ */

section:nth-of-type(3) article:nth-of-type(2) {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 7em;
	padding-bottom: 7em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section:nth-of-type(3) article:nth-of-type(2) p:nth-last-of-type(1) {
	font-size: 32px;
	background-image: radial-gradient(#333336 5%, #81be2c 30%, #81be2c 10%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

section:nth-of-type(3) article:nth-of-type(2) sub {
	vertical-align: super;
	font-size: large;
	font-weight: bolder;
}

/* CONTAINTER 3 CERAMIC SHIELD */

section:nth-of-type(3) article:nth-of-type(3) p:nth-last-of-type(1) {
	font-size: 32px;
}

section:nth-of-type(3) article:nth-of-type(3) img {
	padding: 0px;
	margin-top: -2em;
}

section:nth-of-type(3) article:nth-of-type(3) h3 {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

/* section:nth-of-type(3) article:nth-of-type(3) p {
color: var(--h3-kleur);
} */

/* CONTAINTER 4 WATERBESTENDIG */

section:nth-of-type(3) article:nth-of-type(4) {
	background-image: url("../images/achtergronden/water.png");
	background-size: 200%;
}

section:nth-of-type(3) article:nth-of-type(4) h3 {
	font-size: 32px;
	background-image: radial-gradient(var(--h3-kleur) 5%, var(--h3-kleur-donker) 30%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 4em;
}

section:nth-of-type(3) article:nth-of-type(4) p {
	font-size: 24px;
	margin-top: 4em;
	margin-bottom: 2.5em;
}

section:nth-of-type(3) article:nth-of-type(4) {
	animation-name: waterbestendig;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	}
	
	@keyframes waterbestendig {
		0, 100% {
			background-size: 200%;
			background-position: 0% 200%;
		}

		50% {
			background-position: 0% -200%;
			background-size: 190%;
		}
	}

/* CONTAINTER 5 ACTIEMODUS */

section:nth-of-type(3) article:nth-of-type(5) h3 {
	margin-top: 1.5em;
}

section:nth-of-type(3) article:nth-of-type(5) p {
	font-size: 27px;
	margin-top: 0.2em;
	margin-bottom: 1em;
	/* color: var(--h3-kleur); */
}

section:nth-of-type(3) article:nth-of-type(5) img {
	scale: auto;
}

/* CONTAINTER 6 CAMERA */

section:nth-of-type(3) article:nth-of-type(6) {
	background-image: url("../images/Geel/camera.png");
	background-size: 120%;
	background-repeat: no-repeat;
}

section:nth-of-type(3) article:nth-of-type(6) h3 {
	font-size: 32px;
	color: white;
	margin-top: 10em;
	margin-bottom: 1em;
}

/* CONTAINTER 7 CAMERA */

section:nth-of-type(3) article:nth-of-type(7) {
	background-image: url("../images/Geel/chip.png");
	background-size: 150%;
	background-repeat: no-repeat;
}

section:nth-of-type(3) article:nth-of-type(7) h3 {
	font-size: 24px;
	color: white;
	margin-top: 10em;
	margin-bottom: 1em;
}

/* CONTAINTER 8 SOS */

section:nth-of-type(3) article:nth-of-type(8) {
	background-image: url("../images/achtergronden/sos.jpg");
	background-size: 250%;
	background-repeat: no-repeat;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 10em;
	padding-bottom: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section:nth-of-type(3) article:nth-of-type(8) h3 {
	font-size: 32px;
	color: white;
}

/* CONTAINTER 9 ONGELUK */

section:nth-of-type(3) article:nth-of-type(9) {
	background-repeat: no-repeat;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 7.5em;
	padding-bottom: 7.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section:nth-of-type(3) article:nth-of-type(9) img:hover {
	animation-name: ongeluk;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	}
	
	@keyframes ongeluk {
		30% { transform: scale(0.8); }
		40%, 60% { transform: rotate(-20deg) scale(0.8); }
		50% { transform: rotate(20deg) scale(0.8); }
		70% { transform: rotate(0deg) scale(0.8); }
		100% { transform: scale(1); }
	}

section:nth-of-type(3) article:nth-of-type(9) img {
	scale: 130%;
}

/* CONTAINTER 10 5G */

section:nth-of-type(3) article:nth-of-type(10) {
	background-repeat: no-repeat;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 5em;
	padding-bottom: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section:nth-of-type(3) article:nth-of-type(10) h3 {
	font-size: 32px;
	background-image: radial-gradient(var(--h3-kleur) 5%, var(--h3-kleur-donker) 30%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

section:nth-of-type(3) article:nth-of-type(10) img:hover {
	animation-name: vijfg;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	transform-origin: top center;
	}
	
	@keyframes vijfg {
		20% { transform: rotate(15deg); }	
		40% { transform: rotate(-10deg); }
		60% { transform: rotate(5deg); }	
		80% { transform: rotate(-5deg); }	
		100% { transform: rotate(0deg); }
	}

/* CONTAINTER 11 SELFIES */

section:nth-of-type(3) article:nth-of-type(11) {
	background-image: url("../images/Geel/truedepth.jpg");
	background-size: 250%;
	background-repeat: no-repeat;
	background-position: 50%;
}

section:nth-of-type(3) article:nth-of-type(11) h3 {
	font-size: 32px;
	color: white;
	margin-top: 10em;
	margin-bottom: 1em;
	text-shadow: 0.1em 0.11em 1em black;
}

/* CONTAINTER 12 PERSONALISEREN */

section:nth-of-type(3) article:nth-of-type(12) h3 {
	margin-top: 1.5em;
	font-size: 17px;
}

section:nth-of-type(3) article:nth-of-type(12) p {
	font-size: 24px;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

section:nth-of-type(3) article:nth-of-type(12) img {
	margin-bottom: -3.2em;
}

/* BESPAAR OP IPHONE */

section:nth-of-type(4) article {
	background-color: #f5f5f7;
	border-radius: 1.5em;
	background-image: url("../images/achtergronden/trade_in.png");
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	grid-row: span 1;
	grid-column: span 4;
}

main>section:nth-of-type(4) article h3 {
	margin-top: 1.5em;
	font-size: 24px;
	color: black;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	font-weight: lighter;
}

main>section:nth-of-type(4)>h2 {
	margin-bottom: 0.75em;
}

main>section:nth-of-type(5)>h2 {
	margin-bottom: 0.75em;
	grid-column: span 1;
}


section:nth-of-type(4) article p {
	font-size: 17px;
	margin-top: 0.5em;
	margin-bottom: 15em;
	color: #0071e3;
}

section:nth-of-type(4) article img {
	width: 100%;
	height: auto;
	margin-bottom: 2%;
	scale: 125%;
}

@media screen and (min-width: 900px) {

	section:nth-of-type(4) article {
		background-size: 100%;
	}

	main>section:nth-of-type(4) article h3 {
		color: green;
	}

	main>section:nth-of-type(4)>h2,
	main>section:nth-of-type(5)>h2 {
		font-size: 56px;
	}
}

/* VERSCHIL MAKEN */

section:nth-of-type(5) article {
	background-color: #f5f5f7;
	border-radius: 1.5em;
	display: flex;
	flex-direction: column;
	padding-top: 3em;
}

main section:nth-of-type(5) h3 {
	font-size: 28px;
	color: black;
	font-weight: lighter;
}

main section:nth-of-type(5) a p {
	font-size: 17px;
	color: #0071e3;
	font-weight: 500;
	font-family: 'Regular';
	padding: 1em;
	padding-left: 10%;
	padding-right: 10%;
}

main section:nth-of-type(5) article img:first-of-type {
	height: auto;
	width: 10%;
	margin-bottom: 1em;
}

main section:nth-of-type(5) article:first-of-type img:nth-of-type(2) {
	height: auto;
	width: 75%;
	margin-bottom: 2em;
	padding: 1em;
}

main section:nth-of-type(5) article:nth-of-type(2) img:nth-of-type(2) {
	height: auto;
	width: 100%;
	margin-top: 3.2em;
	border-radius: 1.5em;
}

main section:nth-of-type(5) article:nth-of-type(3) img:nth-of-type(2) {
	height: auto;
	width: 90%;
	margin-top: 2em;
	border-radius: 1.5em;
}

@media screen and (min-width: 600px) {

	main>section:nth-of-type(5)>h2 {
		grid-column: span 2;
	}
}

@media screen and (min-width: 800px) {

	main>section:nth-of-type(5)>h2 {
		grid-column: span 3;
	}
}

/* FOOTER */

footer {
	background-color: #f5f5f7;
	margin-top: 1em;
}

footer>section {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-flow: dense;
	padding: 2em;
	max-width: 1100px;
	margin: auto;
}

footer>section section {}

footer h3 {
	color: #1d1d1f;
	font-size: 12px;
	text-align: left;
}

footer p {
	color: #424245;
	font-size: 12px;
	text-align: left;
	margin: 0.7em 0em;
}

footer img {
	display: none;
}

@media screen and (max-width: 800px) {

	footer p {
		display: none;
	}

	footer>section {
		display: flex;
		flex-direction: column;
		padding: 2em;
		max-width: 1100px;
		margin: auto;
	}

	footer>section section {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(0, 0, 0, 0.16);
		padding: 0.3em 0em;
	}

	footer img {
		display: unset;
	}
}

/* HOME */

.home > main {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	grid-auto-flow: dense;
}

.home > main article h2 {
	text-align: center;
	font-size: 60px;
	margin-top: 0.75em;
}

.home > main article:nth-of-type(6) h2,
.home > main article:nth-of-type(7) h2,
.home > main article:nth-of-type(8) > h2 {
	text-align: center;
	font-size: 40px;
	margin-top: 1em;
}

.home > main article p {
	text-align: center;
	font-size: 24px;
}


.home > main article:nth-of-type(1) {
	background-color: black;
}

.home > main article:nth-of-type(1) > p,
.home > main article:nth-of-type(1) > h2,
.home > main article:nth-of-type(3) > p,
.home > main article:nth-of-type(3) > h2,
.home > main article:nth-of-type(6) > p,
.home > main article:nth-of-type(6) > h2   {
	color: #e3e3e3;
}

.home > main div {
	display: flex;
	justify-content: center;
	gap: 3em;
}

.home > main div a p {
	font-size: 19px;
	margin-top: 1em;
	color:#0071e3;
	}

.home > main article:nth-of-type(1) {
	background-image: url("../images/home/15pro.jpg");
	background-size: 175em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	grid-column-start: 1;
	grid-column-end: -1;
	transition: background-size 1s ease-in-out;
}

/* IPHONE 14 CONTAINER */

.home > main article:nth-of-type(2) {
	background-image: url("../images/home/14.jpg");
	background-size: 250em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	grid-column-start: 1;
	grid-column-end: -1;

	animation-name: iphone-zoom;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	transform-origin: top center;
}

	
	@keyframes iphone-zoom {
		0% { 
			background-size: 250em;
		}
		100% { 
			background-size: 175em;
		}
	}

	/* WATCH SERIES 9 CONTAINER */

.home > main article:nth-of-type(3) {
	background-image: url("../images/home/watch9.jpg");
	background-size: 175em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	grid-column-start: 1;
	grid-column-end: -1;
}

.home > main article:nth-of-type(3) img,
.home > main article:nth-of-type(4) img,
.home > main article:nth-of-type(5) img,
.home > main article:nth-of-type(9) img {
scale: 50%;
margin-top: 1em;
}

.home > main article:nth-of-type(4) {
	background-image: url("../images/home/ultra.jpg");
	background-size: 90em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
}

.home > main article:nth-of-type(5) {
	background-image: url("../images/home/carbon.jpg");
	background-size: 75em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	/* grid-column: span 1; */
	background-color: #FBFBFD;
}

.home > main article:nth-of-type(6) {
	background-image: url("../images/home/airpods.jpg");
	background-size: 75em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	/* grid-column: span 1; */
	background-color: black;
}

.home > main article:nth-of-type(7) {
	background-image: url("../images/home/studie.jpg");
	background-size: 75em;
	background-position: 50% 100%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	/* grid-column: span 1; */
	background-color: #F2F2F4;
}

.home > main article:nth-of-type(8) {
	background-image: url("../images/home/macbook.jpg");
	background-size: 75em;
	background-position: 50% 75%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	/* grid-column: span 1; */
	background-color: #FBFBFD;
}

.home > main article:nth-of-type(9) {
	background-image: url("../images/home/trade_2.jpg");
	background-size: 75em;
	background-position: 50% 75%;
	height: 40em;
	background-repeat: no-repeat;
	position: relative;
	/* grid-column: span 1; */
	background-color: #FBFBFD;

}

@media screen and (max-width: 800px) {

	.home > main article:nth-of-type(1) {
		background-size: 100em;
		background-position: 50% 50%;
	}

	.home > main article p {
		font-size: 19px;
	}

	.home > main article h2 {
		font-size: 30px;
	}

	.home > main article h2 {
		margin-top: 2em;
	}

	.home > main {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
}

